/* .typewrapper-1{
    font-size: 50px;
    text-transform: uppercase;
}
.Typewriter__cursor{
    font-size: 50px;
    color:#fff;
} */
.caption{
    position: absolute;
    z-index: 1000;
    top: 40%;
    color: #fff;
    justify-content: center;
}
.caption h3{
    font-size: 45px;
    font-weight: 400;
}

@media (min-width: 200px) and (max-width: 768px) {
    .caption h3{
        font-size: 16px;
        font-weight: 400;
    }
    .momt-60{
        margin-top: 60px;
    }

}