.team_box{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
}
.team_box .team_content{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    bottom: 0;
    position: absolute;
    transition: all .4s ease;
        -webkit-transition: all .4s ease;
}
.team_box:hover .team_content{
    opacity: 0;
    visibility: visible;
    transform: translateY(100%);
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
    transform: scale(1.1);
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

.team_content > p{
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.team_content > h5{
    padding: 0;
    font-size: 16px;
    margin-bottom: 0;
}
